@charset "utf-8";


#banners{
	max-width:	1200px;
	margin: 0px auto 0px auto;
}

.navbar{
	max-width: 1200px;
	margin: 3px auto 0px auto;
}

section{
	max-width: 1200px;
	margin: auto;
}
